  <h1>All our Tiny Houses</h1>

<div class="contain d-flex">
<div class="cards">
  <% @tiny_houses.each do |tiny| %>
  <div class="card">
    <p class="photo-index"><%= cl_image_tag tiny.photo, height: 300, width: 250, crop: :fill %></p>
    <h2><%= tiny.title %></h2>
    <p><%= tiny.description %></p>
    <p><%= link_to 'show', tiny_house_path(tiny.id) %></p>

  </div>
  <% end %>
</div>

<div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>
<h4><%= link_to 'Add a new Tiny House', new_tiny_house_path %></h4>
