<h1>All our Tiny Houses</h1>

<div class="cards">
  <% @tiny_houses.each do |tiny| %>
    <h2><%= tiny.title %></h2>
    <p><%= tiny.description %></p>
    <p class="photo-index"><%= cl_image_tag tiny.photo, height: 300, width: 400, crop: :fill %></p>
    <p><%= link_to 'show', tiny_house_path(tiny.id) %></p>
  <% end %>
</div>

<h4><%= link_to 'Add a new Tiny House', new_tiny_house_path %></h4>
