<h1><%= @tiny_house.title %></h1>
<p>description : <%= @tiny_house.description %></p>
<p>Where is it? <%= @tiny_house.location %></p>
<p>For <%= @tiny_house.travellers_number %> travellers</p>
<p>With <%= @tiny_house.bed_number %> bed(s)</p>
<p>With <%= @tiny_house.bedroom_number %> bedroom(s)</p>
<p>Does it have a sauna? <%= @tiny_house.sauna %></p>
<p>Does it have a kitchen? <%= @tiny_house.kitchen %></p>
<p>Connected with Wifi? <%= @tiny_house.wifi %></p>
<p>Price per night: <%= @tiny_house.price %></p>
<p><%= link_to 'edit', edit_tiny_house_path(@tiny_house) %></p>


