<div class="container">
  <p id="notice"><%= notice %></p>

  <h1><%= @tiny_house.title %></h1>

    <div class="display">

      <div class="description">

        <div class="tiny-img">
          <p><%= cl_image_tag @tiny_house.photo, height: 500, width: 500, crop: :fill %></p>
        </div>

        <p>Description : <%= @tiny_house.description %></p>
        <p>Where is it? <%= @tiny_house.location %></p>
        <p>For <%= @tiny_house.travellers_number %> travellers</p>
        <p>With <%= @tiny_house.bed_number %> bed(s)</p>
        <p>With <%= @tiny_house.bedroom_number %> bedroom(s)</p>
        <p>Does it have a sauna? <%= @tiny_house.sauna %></p>
        <p>Does it have a kitchen? <%= @tiny_house.kitchen %></p>
        <p>Connected with Wifi? <%= @tiny_house.wifi %></p>
        <p>Price per night: <%= @tiny_house.price %>€</p>
      </div>

      <div class="maptoright">
        <div
          id="map"
          style="width: 100%;
          height: 500px;
          border-radius: 8px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>

        <% if @tiny_house.owner_id != current_user.id %>
          <button class="bluebutton rent">Rent this Tiny House!</button>
        <% end%>

        <button class="blackbutton"><%= link_to 'All our Tiny Houses', tiny_houses_path(@tiny_house) %></button>

      </div>
    </div>





    <div id = "rent_form" style="display: none;">
    <%= render 'rents/form_new_rent', tiny_house: @tiny_house, rent: @rent %>
  </div>


</div>
