<h1><%= @tiny_house.title %></h1>
<p><%= @tiny_house.description %></p>
<p><%= @tiny_house.location %></p>
<p><%= @tiny_house.travellers_number %></p>
<p><%= @tiny_house.bed_number %></p>
<p><%= @tiny_house.bedroom_number\ %></p>
<p><%= @tiny_house.sauna %></p>
<p><%= @tiny_house.kitchen %></p>
<p><%= @tiny_house.wifi %></p>
<p><%= @tiny_house.price %></p>


